<div class="homepage">
	<div class="big_slider"></div>
	

	<ul class="items">
		<li class="main_item1">
			<a>
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
		<li class="main_item2">
			<a>
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
		<li class="main_item3">
			<a>
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
	</ul>

	<div class="bottom_wrapper">
		<div class="right">
			<h3></h3>
			<p></p>
			<span></span>
		</div>
		<div class="letf">
			<h3></h3>
			<p></p>
			<span></span>
		</div>
	</div>	
</div>


